body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: gray;
}

.email {
  text-decoration: none;
  color: black;
}

.email:hover {
  color: gray;
  text-decoration: none;
}

/* --- Mobile Breakpoints --- */

@media screen and (min-width: 320px) and (max-width: 667px) {
  .imgContainer {
    background-image: url("../images/mobileBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .textBlock {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }

  .inlineLink {
    text-decoration: none;
    color: gray;
  }

  .navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: auto;
    padding: 2.5rem 0rem;
    margin-bottom: 1.5em;
    z-index: 2;
  }

  .navBoundary {
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    border: 3px solid gray;
    padding: 2px;
    box-shadow: 1px 1px 15px 0px grey;
    background-color: #e8e9ed;
  }

  .navElement {
    background-color: gray;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 2.5%;
    width: 11.2vw;
    height: 11.2vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .elementText {
    transform: rotate(-45deg);
    text-decoration: none;
    color: #e8e9ed;
    font-size: 0.75em;
    font-weight: 100;
  }

  .contentArea {
    overflow: hidden;
  }

  .overflowHandler {
    position: relative;
    overflow: hidden;
  }

  .skillContainer {
    display: flex;
    flex-direction: row;
    padding: 0rem 2rem;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }

  .skill {
    flex: 0 0 25%;
    padding: 2vw;
  }

  .portraitContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .portrait {
    width: 80vw;
    height: 80vw;
    background-image: url("../images/headshot.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 3vw;
  }

  .informationContainer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/* --- TABLET SIZING BELOW --- */

@media screen and (min-width: 668px) and (max-width: 1024px) {
  .imgContainer {
    background-image: url("../images/tabletBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .textBlock {
    font-size: 80px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }
}

/* --- DESKTOP SIZING BELOW --- */

@media screen and (min-width: 1025px) {
  .imgContainer {
    background-image: url("../images/mainBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .textBlock {
    font-size: 120px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }
}
