@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*--------------------------------------*/
/*--------- Starting Design & ----------*/
/*--------- Initial Settings -----------*/
/*--------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  min-width: 320px;
  background-image: url("../images/mobileBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: -1rem;
}

a {
  text-decoration: none;
  color: gray;
}

.email {
  text-decoration: none;
  color: black;
}

.email:hover {
  color: gray;
  text-decoration: none;
}

.slick-arrow {
  visibility: hidden;
}

.textBlock {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
  padding: 1.5rem;
}

.textBlock2 {
  font-size: 6vw;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
  padding: 0rem 1rem 3rem 1rem;
}

.inlineLink {
  text-decoration: none;
  color: gray;
}

.navBox {
  position: sticky;
  top: 0px;
  height: auto;
  z-index: 2;
  margin-top: 0rem;
  background-color: transparent;
}

.navElement {
  font-size: 2.5em;
  margin: 1rem 1rem 1rem 1rem;
  color: #e8e9ed;
  background-color: transparent;
  font-size: 1em;
}

.elementText {
  text-decoration: none;
  font-size: 2em;
  font-weight: 100;
  color: inherit;
}

.skillContainer {
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.portraitContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

.portrait {
  width: 40vw;
  height: 40vw;
  background-image: url("../images/headshot.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 1px 1px 10px 1px grey;
  margin-top: 0;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageCard {
  box-shadow: 1px 1px 10px 1px grey;
  transition: all 0.2s ease;
}

.slick-dots {
  display: block;
  position: relative;
  z-index: 0;
  bottom: 0rem;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*------- Mobile Layout Changes --------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (min-width: 320px) and (max-width: 666px) {
  .textParallaxOne {
    margin-bottom: -5vw;
  }

  .scrollbtn {
    visibility: hidden;
  }

  .navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0rem;
    margin-bottom: 1.5em;
  }

  .navBoundary {
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    border: 3px solid gray;
    padding: 2px;
    box-shadow: 1px 1px 15px 0px grey;
    background-color: #e8e9ed;
  }

  .navElement {
    background-color: gray;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 2.5%;
    width: 11.2vw;
    height: 11.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .textBlock2 {
    visibility: hidden;
  }

  .elementText {
    transform: rotate(-45deg);
    font-size: 0.75em;
  }

  .contentArea {
    overflow: hidden;
  }

  .overflowHandler {
    position: relative;
    overflow: hidden;
  }

  .skill {
    flex: 0 0 25%;
    padding: 2vw;
  }

  .portraitContainer {
    margin-top: 0;
  }

  .portrait {
    width: 80vw;
    height: 80vw;
  }

  .imageCard {
    width: 80vw;
  }

  .projectDescription {
    padding: 0 12vw;
    margin: 0;
    font-size: 0.8em;
  }

  .projectLinks {
    font-size: 0.8em;
    margin: 1vw 0vw 2vw 0vw;
  }
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------- Tablet Breakpoints ---------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (min-width: 667px) and (max-width: 1024px) {
  body {
    background-image: url("../images/tabletBackground2.jpg");
  }

  .textBlock {
    font-size: 10vw;
    margin: 10vw 0 0 0;
    padding: 1rem;
  }

  .scrollbtn {
    margin-bottom: 20vw;
  }

  .contentArea {
    overflow: hidden;
  }

  .navBoundary {
    width: 95vw;
    display: -ms-flexbox;
    display: flex;
  }

  .projectCard {
    margin-top: 3vw;
    position: relative;
    left: 1vw;
  }

  .imageCard {
    width: 60vw;
  }

  .projectDescription {
    width: 70vw;
    margin-bottom: 0;
  }

  .slick-track {
    margin-bottom: -2vw;
  }

  .skillContainer {
    padding: 2rem;
    overflow: visible;
  }

  .skill {
    width: 14vw;
    margin: 4vw;
  }

  .portrait {
    margin-top: 3vw;
    width: 60vw;
    height: 60vw;
  }
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------- Desktop Breakpoints --------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (min-width: 1025px) {
  body {
    background-image: url("../images/mainBackground.jpg");
  }

  .textBlock {
    font-size: 8.5vw;
    padding: 5vw 1rem 1rem 1rem;
  }

  .textBlock2 {
    font-size: 5.25vw;
    padding: 1rem 1rem 6rem 1rem;
  }

  .textParallaxOne {
    margin-bottom: 5vw;
  }

  .navBoundary {
    width: 98vw;
    display: flex;
  }

  .contentArea {
    width: 97vw;
    height: 47vw;
    position: relative;
    left: 1vw;
  }

  .projectCard {
    margin-top: 3vw;
    margin-bottom: 2vw;
    position: relative;
    left: 1vw;
  }

  .imageCard {
    width: 50vw;
  }

  .projectDescription {
    width: 60vw;
    margin-bottom: 0;
  }

  .slick-track {
    margin-bottom: -2vw;
  }

  .slick-dots {
    left: 0.5vw;
  }

  .skillContainer {
    padding: 0rem;
    overflow: visible;
    margin: 3vw 15vw 0vw 15vw;
  }

  .skill {
    width: 10vw;
    margin: 2vw;
  }
}
