body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* --- Mobile Breakpoints --- */

@media screen and (max-width: 667px) {
  .imgContainer {
    background-image: url("../images/mobileBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .imgContainer2 {
    background-image: url("../images/mobileBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
    filter: grayscale(100%);
  }

  .textBlock {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }

  .inlineLink {
    text-decoration: none;
    color: gray;
  }

  /* .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    position: sticky;
    top: 0px;
    background-color: transparent;
  } */

  .navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: auto;
    padding: 2.5rem 0rem;
  }

  .navBoundary {
    width: 35vw;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    border: 2px solid black;
  }

  .navElement {
    background-color: red;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 2% 2% 2% 2%;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
  }

  .elementText {
    transform: rotate(-45deg);
    position: relative;
    top: 6vw;
    padding: 6vw 5vw;
  }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
  .imgContainer {
    background-image: url("../images/tabletBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .textBlock {
    font-size: 80px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .imgContainer {
    background-image: url("../images/mainBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  .textBlock {
    font-size: 120px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem;
  }
}
